Hi 
body {
            font: 100% helvetica;
        }

        h1 {
            text-align: center;
            font-size: 30pt;
        }

        p {
            text-align: justify;
        }

        img {
            width: 2000%;
            height: 500px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1000px 1000px;
            grid-template-rows: auto auto;
            background-color:darkblue;
            padding: 20px;
        }

        .grid-container>div {
            background-color:lightblue(255, 255, 255, 0.8);
            text-align: center;
            padding: 30px;
        }
